global
    log stdout format raw local0

defaults
    log     global
    # Modo TCP ya que Galera se comunica con TCP
    mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Frontend, lo que "escucha" HAProxy
frontend galera_front
    bind *:3306
    default_backend galera_back

# Backend, hacia dónde "envía" HAProxy el tráfico
backend galera_back
    # Tipo de balanceo
    balance roundrobin
    
    # Health checks
    option tcp-check

    # Para evitar que muera si el DNS falla al arrancar
    default-server init-addr last,libc,none
    
    # Los nodos a los que enviará el tráfico
    server db-node1 db-node1:3306 check
    server db-node2 db-node2:3306 check
    server db-node3 db-node3:3306 check

